doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error 
        link(href="/css/error.css" rel="stylesheet")
    body 
        h1 Error 
        p= message
        p Error Code: #{status}
        if status === 404
            img(src="/images/not-found.png" alt="")